<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.asoes">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Asoes">
        <activity
            android:name=".MainActivity_AppP"
            android:exported="false" />
        <activity
            android:name=".MainActivity_TarjetaP"
            android:exported="false" />
        <activity
            android:name=".MainActivity_SeleccionP"
            android:exported="false" />
        <activity
            android:name=".MainActivity_Asesoria"
            android:exported="false" />
        <activity
            android:name=".MainActivity_AsesoriaE"
            android:exported="false" />
        <activity
            android:name=".MainActivity_Solicitud"
            android:exported="false" />
        <activity
            android:name=".pantallaPrincipal"
            android:exported="false" />
        <activity
            android:name=".recuperaPassword"
            android:exported="false" />
        <activity
            android:name=".registroCompletoProfesor"
            android:exported="false" />
        <activity
            android:name=".registroCompleto"
            android:exported="false" />
        <activity
            android:name=".Registro3Profesores"
            android:exported="false" />
        <activity
            android:name=".registro2"
            android:exported="false" />
        <activity
            android:name=".registro"
            android:exported="false" />
        <activity
            android:name=".MainActivityLuis"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>